<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <p>
        Witaj <%= locals.name %>,
    </p>
    <p>
        Cieszy nas, że zdecydowałeś się zostać członkiem Stowarzyszenia Polish Leader Uniform Group. Twój wniosek został
        przyjęty i oczekuje na weryfikację.
        Zgodnie z Regulaminem Stowarzyszenia, od osób wstępujących do Stowarzyszenia wymagana jest rekomendacja
        udzielona przez dwóch aktualnych członków. Podczas weryfikacji wniosku ta rekomendacja musi zostać potwierdzona.
    </p>
    <p>
        Będziemy informować Cię o postępach w weryfikacji wniosku.
    </p>
    <p>
        Otrzymałeś ten e-mail, ponieważ na twój adres e-mail został złożony wniosek o członkostwo w Stowarzyszeniu
        Polish Leader Uniform Group. Jeśli nie wysyłałeś wniosku, poinformuj nas o tym mailowo.
    </p>
    <p>Zarząd Stowarzyszenia
        Polish Leather Uniform Group</p>
</body>

</html>