
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <p>
        Witaj <%= locals.name %>,
    </p>
    <p>
      Dziękujemy za opłacenie składki członkowskiej, co pozwala kontynuować procesowanie twojego wniosku o dołączenie do Stowarzyszenia.  </p>
    <p>
        Otrzymałeś ten e-mail, ponieważ na twój adres e-mail został złożony wniosek o członkostwo w Stowarzyszeniu
        Polish Leader Uniform Group. Jeśli nie wysyłałeś wniosku, poinformuj nas o tym mailowo.
    </p>
    <p>Zarząd Stowarzyszenia
        Polish Leather Uniform Group</p>
</body>

</html>