<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <p>
        Witaj <%= locals.name %>,
    </p>
    <p>
        Miło nam cię poinformować, ze twój wniosek przeszedł wstępną weryfikację. W związku z tym, musisz
        dokonać płatności składki członkowskiej w wysokości <%= locals.feeAmount %>
            <%= locals.feeCurrency %>.</p>
    <p> Płatność należy dokonać na konto Stowarzyszenia Polish Leather Uniform Group, alternatywnie mozesz skorzystać z
        <a href="https://plug.org.pl/sklep/">bramki płatniczej</a> na stronie www stowarzyszenia.</p>
    <p>
        Będziemy informować Cię o dalszych krokach w procesie weryfikacji wniosku.
    </p>
    <p>
        Otrzymałeś ten e-mail, ponieważ na twój adres e-mail został złożony wniosek o członkostwo w Stowarzyszeniu
        Polish Leader Uniform Group. Jeśli nie wysyłałeś wniosku, poinformuj nas o tym mailowo.
    </p>
    <p>Zarząd Stowarzyszenia
        Polish Leather Uniform Group</p>
</body>

</html>