<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <p>
        Witaj <%= locals.name %>,
    </p>
    <p>
        Cieszymy się z twojej decyzji o dołączeniu do Stowarzyszenia. Jesteś teraz pełnoprawnym członkiem. 
    Twój numer legitymacji to <strong><%= locals.cardNumber %></strong></p>
    <p>
        Wkrótce otrzymasz email z instrukcją dostępu do strefy członkowskiej.
    </p>
    <p>
        Otrzymałeś ten e-mail, ponieważ dołączyłeś do Stowarzyszenia
        Polish Leader Uniform Group.
    </p>
    <p>Zarząd Stowarzyszenia
        Polish Leather Uniform Group</p>
</body>

</html>