<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <p>
        Witaj <%= locals.name %>,
    </p>
    <p>
        Jest nam niezmiernie przykro, ale nie mozemy dalej procesować twojego wniosku.</p>
    <p>
        Przynajmniej jeden z rekomendujących nie zgodził się na twoje członkostwo w Stowarzyszeniu Polish Leader Uniform Group. 
        Jeśli dokonałeś opłaty składki, zostanie ona zwrócona na twoje konto.
    </p>
    <p>
        Otrzymałeś ten e-mail, ponieważ na twój adres e-mail został złożony wniosek o członkostwo w Stowarzyszeniu
        Polish Leader Uniform Group. Jeśli nie wysyłałeś wniosku, poinformuj nas o tym mailowo.
    </p>
    <p>Zarząd Stowarzyszenia
        Polish Leather Uniform Group</p>
</body>

</html>