<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <p>
        Witaj <%= locals.name %>,
    </p>
    <p>
        Witaj,
        Rozpatrujemy wniosek o przyjęcie do Stowarzyszenia Polish Leader Uniform Group.
        Wnioskujący wskazał Ciebie jako osobę, która może udzielić mu rekomendacji niezbędnej
        do zaakceptowania jego wniosku.
    </p>
    <p>
        Sczegóły wniosku zanjdziesz po zalogowaniu w strefie członka, gdzie będziesz mógł
        wyrazić swoją opinię na temat wnioskującego. System będzie czekał 5 dni na Twoją odpowiedź, po
        tym czasie rekomendacja zostanie uznana za pozytywną.
    </p>
    <p>
        Otrzymałeś ten e-mail, ponieważ jesteś członkiem Stowarzyszeniu Polish Leader Uniform Group.
    </p>
    <p>Zarząd Stowarzyszenia
        Polish Leather Uniform Group</p>
</body>

</html>